<launch>
    <arg name="tak_params" default="$(find rostak)/config/tak.yaml" />
    <arg name="cot_params" default="$(find rostak)/config/cot.yaml" />
    <arg name="fix_topic" default="/fix" />

    <group ns="tak">

        <node pkg="rostak" name="rostak_bridge" type="rostak_bridge" output="screen">
            <rosparam command="load" file="$(arg tak_params)" />
            <!-- Debug is "true" or "" -->
            <env name="DEBUG" value="true" />
        </node>

        <node pkg="rostak" name="rostak_client" type="rostak_client" output="screen">
            <param name="cot_params" value="$(arg cot_params)" />
            <remap from="fix" to="$(arg fix_topic)" />
        </node>

        <node pkg="rostak" name="rostak_dispatch" type="rostak_dispatch" output="screen">
            <remap from="tak_goto" to="/navigation/global_frame_path"/>
            <remap from="tak_deadreckon" to="/navigation/deadreckon"/>
        </node>

    </group>

</launch>
